<tr>
  <td>
    <ruby>
      <rb><%= child.last_name %></rb>
      <rp>（</rp>
      <rt><%= child.last_name_ruby %></rt>
      <rp>）</rp>
    </ruby>
  </td>
  <td>
    <ruby>
      <rb><%= child.first_name %></rb>
      <rp>（</rp>
      <rt><%= child.first_name_ruby %></rt>
      <rp>）</rp>
    </ruby>
  </td>
  <td>
    <ruby>
      <rb><%= mother.first_name %></rb>
      <rp>（</rp>
      <rt><%= mother.first_name_ruby %></rt>
      <rp>）</rp>
    </ruby>
  </td>
  <td>
    <%= mother.phone %>
  </td>
  <td>
    <%= mother.email %>
  </td>
</tr>
