<tr>
  <td class="center">
    <ruby>
      <rb>
        <a href='<%= mother.id %>'>
          <%= mother.last_name %>
        </a>
      </rb>
      <rp>（</rp>
      <rt>
        <%= mother.last_name_ruby %>
      </rt>
      <rp>）</rp>
    </ruby>

    <ruby>
      <rb>
        <a href='<%= mother.id %>'>
          <%= mother.first_name %>
        </a>
      </rb>
      <rp>（</rp>
      <rt>
        <%= mother.first_name_ruby %>
      </rt>
      <rp>）</rp>
    </ruby>
  </td>
  <td class="center">
    <ruby>
      <rb>
        <%= child.first_name %>
      </rb>
      <rp>（</rp>
      <rt>
        <%= child.first_name_ruby %>
      </rt>
      <rp>）</rp>
    </ruby>
  </td>
</tr>
