<tr>
  <td>
    <ruby>
      <rb><%= child.last_name %></rb>
      <rp>（</rp>
      <rt><%= child.last_name_ruby %></rt>
      <rp>）</rp>
    </ruby>
  </td>
  <td>
    <ruby>
      <rb>
        <a href='<%= child.id %>'>
          <%= child.first_name %>
        </a>
      </rb>
      <rp>（</rp>
      <rt><%= child.first_name_ruby %></rt>
      <rp>）</rp>
    </ruby>
  </td>
  <td>
    <ruby>
      <rb>
        <a href='<%= mother.id %>'>
          <%= mother.first_name %>
        </a>
      </rb>
      <rp>（</rp>
      <rt><%= mother.first_name_ruby %></rt>
      <rp>）</rp>
    </ruby>
  </td>
  <td>
    <%= mother.phone %>
  </td>
  <td>
    <%= mother.email %>
  </td>
</tr>
