<div class="mxn1 mb1 h5">
  <a href="/" class="button button-narrow button-transparent blue">
    <i class="fa fa-home"></i>
  </a>
  /
  <a href="/user/" class="button button-narrow button-transparent blue">
    <i class="fa fa-list-alt"></i>
  </a>
  /
  <span class="button button-narrow button-transparent gray">
    <i class="fa fa-user"></i>
  </span>
</div>

<div class="flex">
  <div class="m0 gray">
    氏名
  </div>
</div>
<div class="flex h3 mb1">
  <div class="flex-auto border rounded p1">
    <ruby>
      <rb>
        <%= user.last_name %>
      </rb>
      <rp>（</rp>
      <rt>
        <%= user.last_name_ruby %>
      </rt>
      <rp>）</rp>
    </ruby>

    <ruby>
      <rb>
        <%= user.first_name %>
      </rb>
      <rp>（</rp>
      <rt>
        <%= user.first_name_ruby %>
      </rt>
      <rp>）</rp>
    </ruby>
  </div>
</div>

<div class="flex">
  <div class="m0 gray">
    子供
  </div>
</div>
<div class="flex rounded h3 mb1">
  <% user.children.each do |child| %>
    <div class="flex-auto border p1">
      <ruby>
        <rb>
          <%= child.last_name %>
        </rb>
        <rp>（</rp>
        <rt>
          <%= child.last_name_ruby %>
        </rt>
        <rp>）</rp>
      </ruby>

      <ruby>
        <rb>
          <%= child.first_name %>
        </rb>
        <rp>（</rp>
        <rt>
          <%= child.first_name_ruby %>
        </rt>
        <rp>）</rp>
      </ruby>
    </div>
  <% end %>
</div>

<div class="flex">
  <div class="m0 gray">
    電話番号
  </div>
</div>
<div class="flex h3 mb1">
  <div class="flex-auto border rounded p1">
    <%= user.phone %>
  </div>
</div>

<div class="flex">
  <div class="m0 gray">
    メールアドレス
  </div>
</div>
<div class="flex h3 mb1">
  <div class="flex-auto border rounded p1">
    <%= user.email %>
  </div>
</div>

<hr>

<p class="h4">アクセスログ</p>
<div class="overflow-scroll">
  <table class="table-light overflow-hidden rounded border">
    <thead class="bg-darken-1 h6">
      <tr>
        <th class="center">
          <i class="fa fa-navicon"></i>
        </th>
        <th class="center">
          <i class="fa fa-calendar"></i>
        </th>
        <th class="center">
          <i class="fa fa-file-text-o"></i>
        </th>
      </tr>
    </thead>
    <tbody class="h5">
      <% if user.access_log.length == 0 %>
        <tr>
          <td class="center">
          </td>
          <td class="center">
            なし
          </td>
          <td class="center">
          </td>
        </tr>
      <% else %>
        <% user.access_log.each do |request| %>
          <tr>
            <td class="center">
              <i class="fa fa-folder-open-o"></i>
            </td>
            <td class="center">
              <%= request.requested_at.strftime("%m/%d %H:%M") %>
            </td>
            <td class="center">
              <a href='/article/<%= request.spectator.article.id %>'>
                <%= request.spectator.article.title %>
              </a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="h6">
  <div class="flex">
    <div class="m1">
      <i class="fa fa-folder-open-o"></i>
      : 連絡を読んだ
    </div>
    <div class="m1">
      <i class="fa fa-check-square-o"></i>
      : 確認ボタンを押した
    </div>
  </div>
</div>
