<h3>ユーザ情報</h3>
<p>
  #<%= user.id %>, <%= user.nickname %>
</p>

<hr>
<h3>アクセスログ</h3>
<% requests.each do |request| %>
<p>
  <%= request.requested_at %>
  <br>
  <%= request.spectator.article.title %>
  <br>
  <%= request.http_client_ip %>
  ,
  <%= request.http_user_agent %>
  <br>
  <%= request.spectator.md5 %>
</p>
<% end %>
