<%= breadcrumbs %>

<div class="flex">
  <a href="/articles/new" class="button button-outline button-big h3 mb2 rounded center flex-auto blue">
    <div class="left">
      <i class="fa fa-pencil"></i>
      <!-- <i class="fa fa-edit"></i> -->
    </div>
    <div class="flex-auto">
      連絡事項作成
    </div>
  </a>
</div>
<div class="flex">
  <a href="/articles" class="button button-outline button-big h3 mb2 rounded center flex-auto blue">
    <div class="left">
      <i class="fa fa-book"></i>
    </div>
    <div class="flex-auto">
      連絡事項一覧
    </div>
  </a>
</div>
<div class="flex">
  <a href="/users" class="button button-outline button-big h3 mb2 rounded center flex-auto blue">
    <div class="left">
      <i class="fa fa-list-alt"></i>
    </div>
    <div class="flex-auto">
      名簿
    </div>
  </a>
</div>

<!--
<hr>
<% params.env.each do |key,val| %>
  <p>params.env['<%= key %>'] = "<%= val %>"</p>
<% end %>

<% ENV.each do |key,val| %>
  <p>ENV['<%= key %>'] = "<%= val %>"</p>
<% end %>
-->
