<p><%= time %></p>

<p><a href="article/">Article</a></p>
<p><a href="user/">User</a></p>

<hr>

<% params.env.each do |key,val| %>
  <p>params.env['<%= key %>'] = "<%= val %>"</p>
<% end %>

<% ENV.each do |key,val| %>
  <p>ENV['<%= key %>'] = "<%= val %>"</p>
<% end %>
