<%= breadcrumbs %>

<div class="flex flex-column">
  <a href='<%= routes.path(:new_article) %>' class="button button-outline button-big h3 mb2 rounded center blue">
    <div class="left">
      <i class="fa fa-pencil fa-fw"></i>
    </div>
    <div class="flex-auto">
      連絡事項作成
    </div>
  </a>
  <a href='<%= routes.path(:articles) %>' class="button button-outline button-big h3 mb2 rounded center blue">
    <div class="left">
      <i class="fa fa-book fa-fw"></i>
    </div>
    <div class="flex-auto">
      連絡事項一覧
    </div>
  </a>
  <a href='<%= routes.path(:users) %>' class="button button-outline button-big h3 mb2 rounded center blue">
    <div class="left">
      <i class="fa fa-list-alt fa-fw"></i>
    </div>
    <div class="flex-auto">
      名簿
    </div>
  </a>
</div>

<!--
<hr>
<% params.env.each do |key,val| %>
  <p>params.env['<%= key %>'] = "<%= val %>"</p>
<% end %>
-->
