<p class="h4"><%= t('log.access_log') %></p>

<div class="overflow-scroll">
  <table class="table-light overflow-hidden rounded border">
    <thead class="bg-darken-1 h6">
      <tr>
        <th class="center">
          <i class="fa fa-user"></i>
        </th>
        <th class="center">
          <i class="fa fa-navicon"></i>
        </th>
        <th class="center">
          <i class="fa fa-calendar"></i>
        </th>
      </tr>
    </thead>

    <tbody class="h5">
      <% parents.each do |parent| %>
        <tr>
          <th>
            <a href='<%= routes.path(:user, id: parent.id) %>'>
              <%= parent.nickname %>
            </a>
          </th>
          <th class="center">
            <%= read_icon(article, parent) %>
          </th>
          <th class="center h6">
            <%= read_date(article, parent) %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="h6">
  <div class="flex">
    <div class="m1">
      <i class="fa fa-folder-o"></i>
      :
      <%= t('log.unread') %>
    </div>
    <div class="m1">
      <i class="fa fa-folder-open-o"></i>
      :
      <%= t('log.read') %>
    </div>
    <div class="m1">
      <i class="fa fa-check-square-o"></i>
      :
      <%= t('log.confirmed') %>
    </div>
  </div>
</div>
