<%= breadcrumbs %>

<form method="POST" action="/articles/<%= article.id %>">
  <input name="_method" type="hidden" value="patch" />

  <label class="gray">
    タイトル
  </label>
  <input type="text" name="article[title]" class="block full-width field-light mb1" value="<%= article.title %>">

  <label class="gray">
    本文
  </label>
  <textarea name="article[content]" class="block full-width field-light maxheight"><%= article.content %></textarea>

  <input type="hidden" name="article[id]" value="<%= article.id %>">
  <input type="hidden" name="article[created_user_id]" value="<%= article.user.id %>">

  <div class="flex">
    <button type="submit" class="button flex-auto mt1 mr1">
      修正
    </button>
    <button type="reset" class="button bg-gray flex-auto mt1">
      キャンセル
    </button>
  </div>
</form>
