<%= breadcrumbs %>

<% articles.reverse.each do |article| %>
  <div class="flex">
    <div class="flex-auto m0 gray">
      <%= article.created_at.ymdHM %>
    </div>
    <div class="right m0 gray">
      <%= num_read(article) %>
      <%= num_checked(article) %>
    </div>
  </div>
  <div class="flex h4 mb1">
    <a href='<%= routes.path(:article, id: article.id) %>' class="button button-outline button-big rounded blue flex-auto">
      <%= article.title %>
    </a>
  </div>
<% end %>
