<%= breadcrumbs %>

<p>
以下の文章をコピペして、<%= user.nickname %>にメールしてください。
URLを開くと「既読」状態となります。
</p>
<p>
※ あなたは開かないでください。
</p>

<div class="overflow-scroll border rounde p2">
  <p><%= article.user.last_name %> です。</p>
  <p>連絡網が回ってきたので、確認をおねがいします。</p>
  <p>以下の URL を開いて、内容を確認したら [確認] ボタンを押してください。</p>
  <p><a href='<%= url %>'><%= url %></p>
</div>
