<%= breadcrumbs %>

<form method="post" action='<%= routes.path(:articles) %>'>
  <label class="gray">
    <%= t('article.title') %>
  </label>
  <input type="text" name="article[title]" class="block full-width field-light mb1" value="">

  <label class="gray">
    <%= t('article.content') %>
  </label>
  <textarea name="article[content]" class="block full-width field-light"></textarea>

  <input type="hidden" name="article[owner_user_id]" value="<%= article.owner.id %>">

  <div class="flex">
    <button type="submit" class="button flex-auto mt1 mr1">
      <%= t('form.create') %>
    </button>
    <button type="reset" class="button bg-gray flex-auto mt1">
      <%= t('form.cancel') %>
    </button>
  </div>
</form>
