<tr>
  <td class="center">
    <a href='<%= routes.path(:user, id: mother.id) %>' class="button button-transparent blue">
      <ruby>
        <rb>
          <%= mother.last_name %>
        </rb>
        <rp>（</rp>
        <rt>
          <%= mother.last_name_ruby %>
        </rt>
        <rp>）</rp>
      </ruby>

      <ruby>
        <rb>
          <%= mother.first_name %>
        </rb>
        <rp>（</rp>
        <rt>
          <%= mother.first_name_ruby %>
        </rt>
        <rp>）</rp>
      </ruby>
    </a>
  </td>
  <td class="center">
    <ruby>
      <rb>
        <%= child.first_name %>
      </rb>
      <rp>（</rp>
      <rt>
        <%= child.first_name_ruby %>
      </rt>
      <rp>）</rp>
    </ruby>
  </td>
</tr>
