<h1>home#index</h1>

<p>md5: <%= params[:md5] %></p>
<p><%= time %></p>

<hr>

<% params.env.each do |key,val| %>
    <p>params.env['<%= key %>'] = "<%= val %>"</p>
<% end %>

<% ENV.each do |key,val| %>
    <p>ENV['<%= key %>'] = "<%= val %>"</p>
<% end %>
