<div class="mxn1 mb1 h5">
  <a href="/" class="button button-narrow button-transparent blue">
    <i class="fa fa-home"></i>
  </a>
  /
  <a href="/article/" class="button button-narrow button-transparent blue">
    <i class="fa fa-folder-open-o"></i>
    連絡
  </a>
  /
  <span class="button button-narrow button-transparent gray">
    <i class="fa fa-file-text-o"></i>
    <%= article.title %>
  </span>
</div>

<div class="flex">
  <div class="m0 h3">
    <%= article.title %>
  </div>
</div>
<div class="flex">
  <div class="m0 flex-auto gray">
    <%= article.user.nickname %>
  </div>
  <div class="m0 right gray">
    <%= article.created_at.strftime("%Y/%m/%d %H:%M") %>
  </div>
</div>
<div class="flex">
  <div class="flex-auto border rounded p1">
    <%= article.content %>
  </div>
</div>

<hr>

<p class="h4">既読情報</p>
<div class="overflow-scroll h5">
  <table class="table-light overflow-hidden rounded border">
    <thead class="bg-darken-1">
      <tr>
        <th class="center">
          名前
        </th>
        <th class="center">
          既読
        </th>
        <th class="center">
        </th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <th>
            <a href="/user/<%= user.id %>">
              <%= user.nickname %>
            </a>
          </th>
          <th class="center">
            <% if already_read?(user) %>
              <i class="fa fa-check-square-o"></i>
            <% else %>
              <i class="fa fa-square-o"></i>
            <% end %>
          <th class="center">
            <% if already_read?(user) %>
              <%= access_log(user)[0].requested_at.strftime("%m/%d %H:%M") %>
            <% else %>
              <a href="<%= article.id %>/link/<%= user.id %>">
                <i class="fa fa-share"></i>
              </a>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
