<h1>article#show</h1>

<h1>記事</h1>
<p>記事番号: <%= article.id %></p>
<p>タイトル: <%= article.title %></p>
<p>内容: <%= article.content %></p>
<p>作成者: <%= article.user.nickname %></p>
<p>作成日: <%= article.created_at %></p>

<hr>
<h1>既読情報</h1>
<% users.each do |user| %>
<p>
  <%= user.nickname %>
  :
  <% if already_read?(user) %>
    既読
  <% else %>
    未読
  <% end %>
<p>
<% end %>

<hr>
<h1>リンクを作成</h1>
<% users.each do |user| %>
<p>
<a href="<%= article.id %>/link/<%= user.id %>"><%= user.nickname %></a>
<p>
<% end %>

<hr>
<h1>アクセスログ</h1>
<% requests.each do |request| %>
<p>
  <%= request.requested_at %>
  <br>
  <%= request.user.nickname %>
  ,
  <%= request.http_client_ip %>
  ,
  <%= request.http_user_agent %>
  <br>
  <%= request.spectator.md5 %>
</p>
<% end %>
