<h1>article#show</h1>
<% if article %>
  <p>
    #<%= article.id %>
    ,
    <%= article.title %>
    ,
    <%= article.content %>
    ,
    <%= article.user.name %>
    ,
    <%= article.created_at %>
  </p>
  <% if requests %>
    <% requests.each do |request| %>
    <p>
      <%= request.id %>
      ,
      <%= request.http_client_ip %>
      ,
      <%= request.http_user_agent %>
      ,
      <%= request.article_id %>
      ,
      <%= request.requested_at %>
    </p>
    <% end %>
  <% end %>
<% else %>
  <% if params[:id] %>
    <p>id:<%= params[:id] %> is not available</p>
  <% elsif params[:name] %>
    <p>name:<%= params[:name] %> is not available</p>
  <% else %>
    <p>Invalid URL</p>
  <% end %>
<% end %>
